*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
androidApp/google-services.json
iosApp/iosApp/GoogleService-Info.plist
/screenshots/Bigg Boss.app/AppIcon60x60@2x.png
/screenshots/Bigg Boss.app/AppIcon76x76@2x~ipad.png
/screenshots/Bigg Boss.app/Assets.car
/screenshots/Bigg Boss.app/_CodeSignature/CodeResources
/screenshots/Bigg Boss.app/embedded.mobileprovision
/screenshots/Bigg Boss.app/BigBoss:shared.bundle/Contents/Info.plist
/screenshots/Bigg Boss.app/Info.plist
/screenshots/Bigg Boss.app/BigBoss:shared.bundle/Contents/Resources/Base.lproj/Localizable.strings
/screenshots/Bigg Boss.app/BigBoss:shared.bundle/Contents/Resources/en.lproj/Localizable.strings
/screenshots/Bigg Boss.app/PkgInfo
/screenshots/tab/Screenshot_20231011_164224.png
/screenshots/tab/Screenshot_20231011_164304.png
/screenshots/tab/Screenshot_20231011_164327.png
